.ms_color_up {
    background-color: black;
    min-height: 50px;
}

.ms_color_under {
    background-color: cadetblue;
    min-height: 100px;
}


.ms_game {
    border-radius: 20px;
}

#game {
    padding: 30px 30px;
}