body {
    font-family: Arial, Helvetica, sans-serif;
}

.ms_color_up {
    background-color: black;
}

.ms_img {
    width: 5rem;
    padding: 10px 0px;
    padding-right: 10px;
}


.ms_img_jumbo {
    
    margin: 0px auto;
    text-align: center;
}

.ms_jumbotron_img {
    background-image: url(..//img/jumbo-bg.png);
    height: 500px;;
    background-size:cover;
    background-position: center;
}

.ms_p_text {
    padding-top: 200px;
    padding-left: 50px;
}

.ms_pad {
    padding: 10px 0px;
}


.ms_game {
    border-radius: 20px;
}

#game {
    padding: 30px 30px;
}

.ms_center_img {
    background-image: url(..//img/it-takes-two-hero-banner-desktop.jpg);
    height: 500px;;
    background-size:cover;
    background-position: center;
}

.ms_p_text_center {
    padding-top: 50px;
    padding-left: 50px;
}

#black {
    background-color: rgb(23, 23, 24);
}