body {
    font-family: Arial, Helvetica, sans-serif;
}

.ms_color_up {
    background-color: black;
}

.ms_img {
    width: 5rem;
    padding: 10px 0px;
    padding-right: 10px;
}

.ms_color_under {
    background-color: cadetblue;
}

.ms_img_jumbo {
    
    margin: 0px auto;
    text-align: center;
}

.ms_jumbotron_img {
    background-image: url(..//img/jumbo-bg.png);
    height: 700px;;
    background-size:cover;
    background-position: center;
}

.ms_p_text {
    padding-top: 450px;
    padding-left: 50px;
}


.ms_game {
    border-radius: 20px;
}

#game {
    padding: 30px 30px;
}